@using FCS_WebSite_v2.Data.Forms;
@using FCS_WebSite_v2.Data.DB;
@{
}
@{
    ViewData["Title"] = "CreateForm";
}
@using (Html.BeginForm("SaveForm", "Form",new {id = Model.Item1.Id}, FormMethod.Post))
{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/FCS_WebSite_v2.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/form/edit.css" />    
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col border border-1">
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col border border-1">
                            <input type="text" class="form-control" id="formname" name="formname" value="Название" />
                            @if(Model.Item1.Name != null) 
                            {
                                <script>
                                    document.getElementById("formname").value = '@Model.Item1.Name';
                                </script>
                            }
                        </div>
                        <div class="col border border-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ifdate" name="ifdate">
                                <label class="form-check-label" for="ifdate">
                                    Установить дату
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col border border-1">
                    <div class="date" id="date">
                        <input type="date" id="startDate" name="startDate"/>
                        <input type="date" id="endDate" name="endDate"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col border border-1">
                </div>
                <div class="col-7 border border-1 justify-content-center text-center">
                    <div class="questions" id="question">
                        @{/*
                            List<string> keys = ((List<FormQuestion>)Model.Item2).
                                Where(x => x.StartsWith("select_")).ToList();*/
                        }
                        @foreach (FormQuestion formQuestrion in Model.Item2)
                        {
                            <div class="row">
                                <div class="col border border-1">
                                    <div class="row">
                                        <input type="text" class="form-control" placeholder="Вопрос"
                                            value="@formQuestrion.Content"/>
                                    </div>
                                    <div class="row">
                                        <input type="text" class="form-control" placeholder="Ответ" />
                                    </div>
                                </div>
                                <div class="col-4 border border-1 justify-content-center text-center">
                                    <select>
                                        <option value="0">Короткий ответ</option>
                                        <option value="1">Длинный ответ</option>
                                        <option value="2">Чекбокс</option>
                                    </select>
                                    @if(formQuestrion.TypeId == "qshort") {

                                    }
                                    else if (formQuestrion.TypeId == "qlong") {
                                        <text>
                                            
                                        </text>
                                    } else {
                                        <text>
                                            
                                        </text>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <button class="btn btn-primary btn-sm" type="button" id="addQuestion">
                        +
                    </button>
                </div>
                <div class="col border border-1">
                </div>
            </div>
            <div class="row" style="height: 100px">
                <div class="col border border-1"></div>
                <div class="col border border-1"></div>
                <div class="col border border-1 text-center" style="justify-content: center; display: block;">

                    <button class="btn btn-outline-primary" type="submit" name="saveForm"
                        style="margin-top:15%;">
                        Сохранить
                    </button>
                </div>
                <div class="col border border-1"></div>
                <div class="col border border-1"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        
        <!--Добавление формочек-->
        <script type="text/javascript">
            $("#ifdate").click(function showDate() {
                let checkbox = document.getElementById("ifdate");
                let date = document.getElementById("date");
                if (checkbox.checked) {
                    document.getElementById("date").style.display = "block";
                } else {
                    date.style.display = "none";
                }
            });

            $("#addQuestion").click(function addQuestion() {
                // -----------grid---------------
                let parent = document.getElementById("question");
                let idForAll = parent.childElementCount;
                let place = document.createElement("div");
                place.setAttribute("class", "row");
                let questionTypePlace = document.createElement("div");
                let questionPlace = document.createElement("div");
                questionPlace.setAttribute("class", "col border border-1");
                questionTypePlace.setAttribute("class", "col-4 border border-1 justify-content-center text-center");
                let question = document.createElement("div");
                let answer = document.createElement("div");
                question.setAttribute("class", "row");
                answer.setAttribute("class", "row");
                questionPlace.appendChild(question);
                questionPlace.appendChild(answer);
                place.appendChild(questionPlace);
                place.appendChild(questionTypePlace);
                parent.appendChild(place);
                //-------------filling----------

                //------------select-------------
                let select = document.createElement("select");
                select.name = "select_" + idForAll;
                let opt = document.createElement("option");
                var options = [];
                for (var i = 0; i < 3; i++) {
                    options.push(document.createElement("option"));
                }
                options[0].innerHTML = "Короткий ответ";
                options[1].innerHTML = "Длинный ответ";
                options[2].innerHTML = "Чекбокс";
                for (var i = 0; i < options.length; i++) {
                    options[i].setAttribute("value", i);
                    select.appendChild(options[i]);
                }
                select.onchange = function () {
                    let answerType = select.value;
                    while (answer.firstChild) {
                        answer.removeChild(answer.firstChild);
                    }
                    buttonForCheckBox.style.display = "none";
                    if (answerType == 0) {
                        let answerInput = document.createElement("input");
                        answerInput.setAttribute("type", "text");
                        answerInput.setAttribute("class", "form-control");
                        answerInput.setAttribute("placeholder", "Ответ");
                        answerInput.name = "answerInputText_" + idForAll;
                        answer.appendChild(answerInput);
                    } else if (answerType == 1) {
                        let answerInput = document.createElement("textarea");
                        answerInput.setAttribute("class", "form-control");
                        answerInput.name = "answerInputArea_" + idForAll;
                        answer.appendChild(answerInput);

                    } else {
                        buttonForCheckBox.style.display = "block";
                    }
                }

                questionTypePlace.appendChild(select);
                //-------------questionInput--------
                let questionInput = document.createElement("input");
                questionInput.setAttribute("type", "text");
                questionInput.setAttribute("class", "form-control");
                questionInput.setAttribute("placeholder", "Вопрос");
                questionInput.name = "questionInput_" + idForAll;
                question.appendChild(questionInput);
                //-------------answerInput----------
                let answerInput = document.createElement("input");
                answerInput.setAttribute("type", "text");
                answerInput.setAttribute("class", "form-control");
                answerInput.setAttribute("placeholder", "Ответ");
                answerInput.name = "first_answerInput_" + idForAll;
                answer.appendChild(answerInput);
                //--------------buttonAddCheckBoxVariant------
                let buttonForCheckBox = document.createElement("button");
                buttonForCheckBox.setAttribute("class", "btn btn-primary");
                buttonForCheckBox.setAttribute("type", "button");
                buttonForCheckBox.textContent = "+";
                buttonForCheckBox.style.display = "none";
                buttonForCheckBox.onclick = function () {
                    let ansId = answer.childElementCount;
                    let variantsPlace = document.createElement("div");
                    variantsPlace.setAttribute("class", "input-group mb-3");
                    let inputGroupPlace = document.createElement("div");
                    inputGroupPlace.setAttribute("class", "input-group-text");
                    let inputPlace = document.createElement("input");
                    inputPlace.setAttribute("type", "text");
                    inputPlace.setAttribute("class", "form-control");
                    inputPlace.setAttribute("placeholder", "Вариант");
                    inputPlace.name = "inputPlace_" + idForAll + "_" + ansId;
                    let inputCheckBox = document.createElement("input");
                    inputCheckBox.setAttribute("type", "checkbox");
                    inputCheckBox.setAttribute("class", "form-check-input mt-0");
                    variantsPlace.appendChild(inputGroupPlace);
                    variantsPlace.appendChild(inputPlace);
                    inputGroupPlace.appendChild(inputCheckBox);
                    answer.appendChild(variantsPlace);
                    let deleteVar = document.createElement("button");
                    deleteVar.setAttribute("class", "btn-close");
                    deleteVar.onclick = function () {
                        answer.removeChild(variantsPlace);
                    }
                    variantsPlace.appendChild(deleteVar);
                }
                questionTypePlace.appendChild(buttonForCheckBox);

                //----------deleteButton-----------
                let deleteButton = document.createElement("button");
                deleteButton.setAttribute("class", "btn-close");
                deleteButton.onclick = function () {
                    parent.removeChild(place);
                }
                questionTypePlace.appendChild(deleteButton);
            });
        </script>

        <script>
            $(document).ready(function () {
            @if (Model.Item1.StartDate != null)
            {
                DateTime startDatecs = @Model.Item1.StartDate;
                DateTime endDatecs = @Model.Item1.EndDate;
                <text>
                document.getElementById("date").style.display = "block";
                let startDate = @startDatecs.Year + "-" + ("0" + @startDatecs.Month).slice(-2) +
                        "-" + ("0" + @startDatecs.Day).slice(-2);
                let endDate = @endDatecs.Year + "-" + ("0" + @endDatecs.Month).slice(-2) +
                        "-" + ("0" + @endDatecs.Day).slice(-2);
                document.getElementById("ifdate").checked = true;
                document.getElementById("startDate").value = startDate;
                document.getElementById("endDate").value = endDate;   
                </text>
            }
            });
        </script>


        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
}