@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/form/forminfo.css"/>
    <script type="text/javascript" src="~/js/tableToExcel.js"></script>
</head>
<body>
    <div>
        <button type="button" class="btn btn-primary" onclick="exportReportToExcel(this)">
            Экспорт в Excel
        </button>
    </div>
    <div class="table-responsive">
        <table id="infoTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Вопрос</th>
                    <th scope="col">Ответы</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var pupil in Model.Item1)
                {
                    <tr>
                        <th data-t="n" scope="row">@index</th>
                        <td>@pupil.LastName</td>
                        <td>@pupil.FirstName</td>
                        <td>@pupil.Question</td>
                        <td>@pupil.Answers</td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>

    <script src="~/js/fileInfo.js">
    </script>
    <script type="text/javascript">
        function exportReportToExcel() {
            let table = document.getElementById("infoTable");
            let formName = "@(Model.Item2)";
            let fileName = formName + '.xlsx';
            TableToExcel.convert(table, {
                name: fileName,
                sheet: {
                    name: 'Sheet 1'
                }
            });
        }
    </script>
</body>
