@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/form/forminfo.css" />
    <script type="text/javascript" src="~/js/tableToExcel.js"></script>
</head>
<body>
    <div>
        <button type="button" class="btn btn-primary" onclick="exportReportToExcel(this)">
            Экспорт в Excel
        </button>
    </div>
    <div class="table-responsive">
        <table id="infoTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Время</th>
                    @foreach (var content in Model.Item3)
                    {
                        <th scope="col">@(content)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                    var certainPupil = new[] {
                        new {
                            LastName = "", FirstName = "", Answers = new List<string>(), 
                            Time = DateTime.Now
                        }
                    }.ToList();
                    foreach (var pupil in Model.Item1)
                    {
                        List<string> answers = new List<string>();
                        foreach (var answer in pupil)
                        {
                            answers.Add(answer.Answers);
                        }
                        int stop = 0;
                        foreach (var item in pupil)
                        {
                            if (stop == 1)
                            {
                                break;
                            }
                            certainPupil.Add(new
                            {
                                LastName = (string)(item.LastName),
                                FirstName = (string)(item.FirstName),
                                Answers = answers,
                                Time = (DateTime)(item.Time)
                            });
                            stop++;
                        }
                    }

                }
                @foreach (var pupil in certainPupil)
                {
                    if (index != 0)
                    {
                        <tr>
                            <th data-t="n" scope="row">@index</th>
                            <td>@(pupil.LastName)</td>
                            <td>@pupil.FirstName</td>
                            <td>@pupil.Time</td>
                            @foreach (string answer in pupil.Answers)
                            {
                                <td>@answer</td>
                            }
                        </tr>
                    }
                    index++;
                }
            </tbody>
        </table>
    </div>

    <script src="~/js/fileInfo.js">
    </script>
    <script type="text/javascript">
        function exportReportToExcel() {
            let table = document.getElementById("infoTable");
            let formName = "@(Model.Item2)";
            let fileName = formName + '.xlsx';
            TableToExcel.convert(table, {
                name: fileName,
                sheet: {
                    name: 'Sheet 1'
                }
            });
        }
    </script>
</body>
