@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/form/forminfo.css"/>
    <script type="text/javascript" src="~/js/tableToExcel.js"></script>
</head>
<body>
    <div>
        <button type="button" class="btn btn-primary" onclick="exportReportToExcel(this)">
            Экспорт в Excel
        </button>
    </div>
    <div class="table-responsive">
        <table id="infoTable" class="table table-striped caption-top">
            <caption>@Model.Item2 @Model.Item3</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название Формы</th>
                    <th scope="col">Вопрос</th>
                    <th scope="col">Ответы</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var record in Model.Item1)
                {
                    <tr>
                        <th data-t="n" scope="row">@index</th>
                        <td>@record.FormName</td>
                        <td>@record.Question</td>
                        <td>@record.Answers</td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>

    <script src="~/js/fileInfo.js">
    </script>
    <script type="text/javascript">
        function exportReportToExcel() {
            let table = document.getElementById("infoTable");
            TableToExcel.convert(table, {
                name: `pupilInfo.xlsx`,
                sheet: {
                    name: 'Sheet 1'
                }
            });
        }
    </script>
</body>
